<%= form_with(model: @navigation, local: true) do |form| %>
  <% if @navigation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@navigation.errors.count, "error") %> prohibited this navigation from being saved:</h2>

      <ul>
      <% @navigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Edit data</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
      <div class="box-body">
	  <div class="form-group">
	  	<div class="field">
		    <%= form.label :order_id %>
		    <%= form.text_field :order_id, id: :navigation_order_id, class: "form-control", placeholder: "Test" %>
		</div>
	  </div>
	  <div class="form-group">
	  	<div class="field">
		    <%= form.label :display_text %>
		    <%= form.text_field :display_text, id: :navigation_display_text, class: "form-control", placeholder: "Test" %>
		</div>
	  </div>
	  <div class="form-group">
	  	<div class="field">
		    <%= form.label :url %>
		    <%= form.text_field :url, id: :navigation_url, class: "form-control", placeholder: "Test" %>
		</div>
	  </div>
	  <div class="form-group">
	  	<div class="field">
		    <%= form.label :html_class %>
		    <%= form.text_field :html_class, id: :navigation_html_class, class: "form-control", placeholder: "Test" %>
		</div>
	  </div>	
	  <div class="form-group">
	  	<div class="field">
		    <%= form.label :parent %>	    
		    <%= form.collection_select :parent, Navigation.all.map ,:id, :display_text, {}, {class: "form-control select2", :id => "navigation_parent_id" }%>
		</div>
	  </div>			  
    </div>
  	<!-- /.box-body -->
    <div class="box-footer">
    	<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
	</form>
  </div>
  <!-- /.box -->
  
<% end %>

