<%= form_with(model: @interval, local: true) do |form| %>
  <% if @interval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interval.errors.count, "error") %> prohibited this interval from being saved:</h2>

      <ul>
      <% interval.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>

<table id="example2" class="table table-bordered table-hover">     
	<thead>
    	<tr>
			<th>#</th>
			<th>Name</th>
			<th>Numerator</th>
			<th>Denominator</th>
			<th>Description</th>
        </tr>
	</thead>
	<tbody>
	    <tr>
	      <td><%= @interval.id %></td>
	      <td><%= best_in_place @interval, :name, :as => :input %></td>
		  <td><%= best_in_place @interval, :numerator, :as => :input %></td>
		  <td><%= best_in_place @interval, :denominator, :as => :input %></td>
		  <td><%= best_in_place @interval, :description, :as => :input %></td>
	    </tr>
    </tbody>
    <tfoot>
   	</tfoot>
</table>

