<%= form_with(model: @interval, local: true) do |form| %>
  <% if @interval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interval.errors.count, "error") %> prohibited this interval from being saved:</h2>

      <ul>
      <% interval.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Edit data</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
      <div class="box-body">
	  <div class="form-group">
		 <div class="field">
	    	<%= form.label :name %>
	    	<%= form.text_field :name, id: :interval_name, class: "form-control", placeholder: "Test" %>
		 </div>
	  </div>
	  <div class="form-group">
		 <div class="field">
	    	<%= form.label :numerator %>
	    	<%= form.text_field :numerator, id: :interval_numerator, class: "form-control", placeholder: "Test" %>
		 </div>
	  </div>	  
	  <div class="form-group">
		 <div class="field">
	    	<%= form.label :denominator %>
	    	<%= form.text_field :denominator, id: :interval_denominator, class: "form-control", placeholder: "Test" %>
		 </div>
	  </div>	  
	  <div class="form-group">
		 <div class="field">
	    	<%= form.label :description %>
	    	<%= form.text_field :description, id: :interval_description, class: "form-control", placeholder: "Test" %>
		 </div>
	  </div>	
    </div>
  	<!-- /.box-body -->
    <div class="box-footer">
    	<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
	</form>
  </div>
  <!-- /.box -->
<% end %>
