<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1> Monthly planning <small>Income vs. expenses</small></h1>
	  	<%= render 'navigations/navigation_bar' %>
	  	<p id="notice"><%= notice %></p>
	</section>
	<% date = MonthlyStatistic.all.order(period: :asc) 
	if date.present?
		startDate = date.first.period
		endDate = date.last.period
		minDate = date.where(:item => 1).last.period 
	else
		minDate = Date.current.beginning_of_month
	end
	%>
	<% #minDate = date.where(:item => 1).last.period #Date.current.beginning_of_month #date.first.period %>
	<% maxDate = Date.current.end_of_month #date.last.period %>
	<!-- Main content -->
	<section class="content">
	  <div class="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Browser Usage</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-responsive">
					<%= render 'monthly_statistics/bar_chart_expenses' %>
                  </div>
                  <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-responsive">
					<%= render 'monthly_statistics/pie_chart_expenses'	%>
                  </div>
                  <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
  			<div class="box-footer">
              <div class="row">
              	<% transactions = MonthlyStatistic.where('period BETWEEN ? AND ?', minDate, maxDate).joins(:item) %>
              	<% actual_expenses = transactions.where('actual_value < 0 and reserve = false').sum(:actual_value) %>
              	<% planned_expenses = transactions.where('planned_value < 0 and reserve = false').sum(:planned_value) %> 
                <div class="col-sm-4 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                    <h5 class="description-header" id="actual_expenses"><%= actual_expenses %></h5>
                    <h5 class="description-header" id="planned_expenses"><%= planned_expenses %></h5>
                    <span class="description-text">TOTAL EXPENSES</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <% actual_income = transactions.where('actual_value > 0 and reserve = false').sum(:actual_value) %>
                <% planned_income = transactions.where('planned_value > 0 and reserve = false').sum(:planned_value) %> 
                <div class="col-sm-4 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                    <h5 class="description-header" id="actual_income"><%= actual_income %></h5>
                    <h5 class="description-header" id="planned_income"><%= planned_income %></h5>
                    <span class="description-text">TOTAL INCOME</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <% result = actual_income + actual_expenses %> 
                <div class="col-sm-4 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>         
                    <h5 class="description-header"><%= result %></h5>
                    <span class="description-text">TOTAL BALANCE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Data Table With Full Features</h3>
					</div>

					<!-- /.box-header -->
					<div class="box-body">
						<div class="col-xs-6">		
				  			<div class="input-group date">
				      			<div class="input-group-addon">
				        			<i class="fa fa-calendar"></i>
				      			</div>
				      			<%= #text_field_tag :start_date, minDate, :id="filter_col1", :class => "form-control pull-right" 
				      			%>
				      			<input type="text" class="form-control pull-right" id="start_date" name="start_date" value=<%= minDate %> >
				  			</div>
			  			</div>
			  			<div class="col-xs-6">		
				  			<div class="input-group date">
				      			<div class="input-group-addon">
				        			<i class="fa fa-calendar"></i>
				      			</div>
				      			<input type="text" class="form-control pull-right" id="end_date" name="end_date" value=<%= endDate %> >
				  			</div>
			  			</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Data Table With Full Features</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table style="width: 67%; margin: 0 auto 2em auto;" cellspacing="0" cellpadding="3" border="0">
							<thead>
								<tr>
									<th>Filter</th>
								</tr>
							</thead>
							<tbody>
								<!-- 
								<tr id="filter_col1" data-column="2">
					                <td>Match type</td>
					                <td align="center"><input type="text" class="form-control pull-right" id="col1_filter" name="start_date" value=<%= minDate %> > </td>
					            </tr> -->
					            <tr id="filter_col7" data-column="8">
					                <td>Match type</td>
					                <td align="center"><%= select_tag "col8_filter", options_for_select([['external_account', "external_account"],['key_word', "key_word"],['item_name', "item_name"],['default', "default"]]), include_blank: "All", class:"column_filter" %> </td>
					            </tr>
					            <tr id="filter_col3" data-column="2">
					                <td>Account</td>
					                <td align="center"><%= select_tag "col2_filter", options_from_collection_for_select(Account.all, "id", "description"), include_blank: "All",  class:"column_filter" %> </td>
					            </tr>
					            <!-- {"0" => "id", "1" => "period", "2" => "account_id", "3" => "item_id", "4" => "planned_value", "5" => "actual_value", "6" => "hibiscus_sync_id", "7" => "match_confidence", "8" => "match_type", "9" => "match_value", "10" => "text"} -->
					            <tr id="filter_col4" data-column="3">
					                <td>Item</td>
					                <td align="center"><%= select_tag "col3_filter", options_from_collection_for_select(Item.all, "id", "name"), include_blank: "All",  class:"column_filter" %> </td>
					            </tr>
							</tbody>
						</table>
						<% datatable = monthly_statistics_url(format: "json") %>
						
						<table id="example1" class="display" data-source="<%= datatable %>">
							<thead>
								<tr>
									<th>#</th>
									<th>Period</th>
									<th>Account</th>
									<th>Item</th>
									<th>Planned value</th>
									<th>Actual value</th>
									<th>Hibiscus id</th>
									<th>Match confidence</th>
									<th>Match type</th>
									<th>Match value</th>
									<th>Text</th>									
								</tr>
							</thead>
							<tbody>
								<!-- automatically filled by items controller -->
							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<div>
			<h4>Import Statistics</h4>
			<%= form_tag import_monthly_statistics_path, multipart: true do %>
			<%= file_field_tag :file %>
			<%= submit_tag "Import CSV" %>
			<% end %>
			<%= link_to 'New Monthly Statistic', new_monthly_statistic_path %>
		</div>
		<div class="form-group">
          <label for="monthlyStatisticsDeleteAll">Delete all</label>
          	<%= form_tag delete_all_monthly_statistics_path, multipart: true do %>
			<button type="submit" class="btn btn-primary">Delete all</button>
			<% end %>
        </div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">
	var tableId = '#example1'
	myFunction(tableId)

	var startDate = '<%= minDate.strftime("%Y-%m-%d").to_s %>';
	var endDate = '<%= maxDate.strftime("%Y-%m-%d").to_s %>';
		
	var table = $(tableId).DataTable();
	var dateRange = startDate + ';' + endDate;
	console.log(dateRange);
	table.column(1).search(dateRange).draw();
	
	$('#start_date').datepicker({
		autoclose: true,
		language: 'de',
		format: 'yyyy-mm-dd',
    	startDate: '<%= startDate %>',
    	endDate: '<%= endDate %>'
	});
	
	$('#end_date').datepicker({
		autoclose: true,
		language: 'de',
		format: 'yyyy-mm-dd',
    	startDate: '<%= startDate %>',
    	endDate: '<%= endDate %>'
	});

	
	$('#start_date').change(function() {
		var table = $(tableId).DataTable();
		var dateRange = $(this).val() + ';' + $('#end_date').val();
		table.column(1).search(dateRange).draw();
		
		//$(tableId).DataTable().column( i ).search(
        //$('#col'+i+'_filter').val()
//).draw();
		//var oTable = $(tableId).DataTable();
		//minDateFilter = new Date(this.value).getTime();
    	//oTable.fnDraw();
		//table.column().search().draw($('#start_date').val());
		update_charts();
	});
	
	$('#end_date').change(function() {
		var table = $(tableId).DataTable();
		var dateRange = $('#start_date').val() + ';' + $(this).val();
		table.column(1).search(dateRange).draw();
		update_charts();
	});
	
		
	function update_charts(){
		var start_date = $('#start_date').val();
		var end_date = $('#end_date').val();
		var table = $(tableId).DataTable();
		var data = table
		    .rows()
		    .data();
		var result = [];
		
		data.reduce(function (res, value) {
			if (value[5] < 0) {
				var id = value[3];
				var expenses = 0;
				var actual_value = function () {
					var expense = value[5];
					if (expense < 0) {
						expense = expense*-1;
					}
					return parseFloat(expense);
				}();
							
				if (!res[id]) {	
					res[id] = [id, expenses];
					result.push(res[id])
				}
				res[id][1] += actual_value
			}
			return res;
		}, {});
			
		var arrayLength = result.length;
		for (var i = 0; i < arrayLength; i++) {
			var id = result[i][0];
			var item = function () {
				var tmp = null;
				$.ajax({
						url: "/get_item",
						data: {'id': id},
						dataType: "json",
						type: "GET",
						async: false,
						success: function(data) {
							tmp = data;
						}
					});
				return tmp;
			}();
			result[i][0] = item.name
		    //alert(myStringArray[i]);
		    //Do something
		}
		console.log(result)
		Chartkick.eachChart(
			function(chart) {chart.updateData(result);}
		);
	}
	
</script>

