<!-- ><table id="example2" class="table table-bordered table-hover">     
	<thead>
    	<tr>
									<th>Order</th>
									<th>Name</th>
									<th>Total amount</th>
									<th>Amount calculated</th>
									<th>Reserve</th>
									<th>Maturity</th>
									<th>Active</th>
									<th>Category</th>
									<th>Interval</th>
									<th>Key words</th>
									<th>Destroy</th>
        </tr>
	</thead>
	<tbody>
	    <tr>
	      <td><%= best_in_place @item, :order_id, :as => :input, :type => :textarea %></td>
		  <td><%= best_in_place @item, :name, :as => :input, :type => :textarea %></td>
		  <td><%= best_in_place @item, :total_amount, :as => :input, :type => :textarea, :data => {:message => @item.amount_calculated} %></td>
		  <!-- ><td><%= best_in_place @item, :amount_calculated,:display_as => :calculate_planned_value, :as => :input, :type => :textarea %></td> -->
		  <!-- ><td><%= best_in_place @item, :amount_calculated, :as => :input, :type => :textarea %></td>
		  <td><%= best_in_place @item, :reserve, :as => :checkbox, collection: {false: "No", true: "Yes"}  %></td>
		  <td><%= best_in_place @item, :maturity, :type => :date %></td>
		  		  <td><%= best_in_place @item, :active, as: :checkbox, collection: {false: "No", true: "Yes"}  %></td>
		  <td><%= #@item.category.name
		  #@item collection_select :category_id, Category.all, :id, :name 
		  	best_in_place @item, :category_id, :as => :select, :collection => Category.all.map { |i| [i.id, i.name] } %></td>
		  <td><%= best_in_place @item, :interval_id, :as => :select, :collection => Interval.all.map { |i| [i.id, i.description] } %></td>
		  <td><%= best_in_place @item, :key_words, :as => :input, :type => :textarea %></td>
	      <td><%= #link_to 'Destroy', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' } 
	      %></td>
	    </tr>
    </tbody>
    <tfoot>
   	</tfoot>
</table> -->

<%= form_with(model: @item, local: true) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Edit data</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
      <div class="box-body">
	  <div class="form-group">
		 <div class="field">
	    	<%= form.label :name %>
	    	<%= form.text_field :name, id: :item_name, class: "form-control", placeholder: "Test" %>
		 </div>
	  </div>
	  
	 <div class="form-group">
	    <%= form.label :category_id %>
	    <%= form.collection_select :category_id, Category.all ,:id, :name, {}, {class: "form-control select2"} %>
	  </div>
	
	  <div class="form-group">
		<div class="field">
	    	<%= form.label :total_amount %>
	    	<%= form.text_field :total_amount, id: :item_total_amount, class: "form-control", placeholder: "Test"%>
	  	</div>
	  </div>
	  <div class="form-group">
		<div class="field">
	    <%= form.label :interval_id %>
	    <%= #form.collection_select :interval_id, Interval.all ,:id, :name, {}, {class: "form-control select2", :onchange=>"calculate_amount()", :id => "item_interval_id" }
	    %>
	  	<%= form.collection_select :interval_id, Interval.all ,:id, :name, {}, {class: "form-control select2", :id => "item_interval_id" }%>
	  	</div>
	  </div>
	  <div class="form-group">
		<div class="field">
	    	<%= form.label :amount_calculated %>
	    	<%= form.text_field :amount_calculated, id: :item_amount_calculated, class: "form-control", placeholder: "Test", readonly: true %>
	  	</div>
	  </div>
	  		<div class="form-group">
		  <div class="field">
		    <%= form.label :key_words %>
		    <%= form.text_field :key_words, id: :item_key_words , class: "form-control", placeholder: "Test" %>
		  </div>
	  	</div>

	  <div class="form-group">
	  	<%= form.label :maturity %>
	  	<div class="input-group date">
	      <div class="input-group-addon">
	        <i class="fa fa-calendar"></i>
	      </div>
	      <%= form.text_field :maturity, id: :item_maturity, class: "form-control pull-right" %>
	    </div>
	    <!-- /.input group -->
	  </div>
	    <div class="form-group">
	    	<%= content_tag(:div, :class => "checkbox") do %>
				<%= content_tag(:label) do %>
		    		<%= form.check_box(:reserve, id: :item_reserve, class: "checkbox") + :reserve %>
		    	<% end %>
			<% end %>
		  </div>	
	    <div class="form-group">
	    	<%= content_tag(:div, :class => "checkbox") do %>
				<%= content_tag(:label) do %>
					<%= form.check_box(:active, id: :item_active, class: "checkbox") + :active %>
				<% end %>
			<% end %>
		</div>
		<div class="form-group">
		  <div class="field">
		    <%= form.label :order_id %>
		    <%= form.number_field :order_id, id: :item_order_id , class: "form-control", placeholder: "Test" %>
		  </div>
	  	</div>
		
    </div>
  	<!-- /.box-body -->
    <div class="box-footer">
    	<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
	</form>
  </div>
  <!-- /.box -->
<% end %>

<script type="text/javascript">
	$('#item_maturity').datepicker({
 			autoclose: true,
	      	format: 'dd-mm-yyyy',
	      	language: 'de'
	});

	$('#item_interval_id').change(function() {
		update_amount_calculated($(this).val());
	});
	
	$('#item_total_amount').change(function() {
		update_amount_calculated($(this).val());
	});
	
	function update_amount_calculated(input){
		var interval_id = $('#item_interval_id').val();
		var item_id = <%= @item.id %>;
		var total_amount = $('#item_total_amount').val();
		if (input != undefined) {
			$.ajax({
				url: "/calculate_amount",
				data: {'item': item_id, 'interval': interval_id, 'amount': total_amount},
				dataType: "json",
				type: "GET",
				success: function(data) {
					$('#item_amount_calculated').val(data["amount_calculated"]).text(data["amount_calculated"]);
				}
			})
		}
	};
</script>

