<%= form_with(model: @item, local: true) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Edit data</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
      <div class="box-body">
	  <div class="form-group">
		 <div class="field">
	    	<%= form.label :name %>
	    	<%= form.text_field :name, id: :item_name, class: "form-control", placeholder: "Test" %>
		 </div>
	  </div>
	  
	 <div class="form-group">
	    <%= form.label :category_id %>
	    <%= form.collection_select :category_id, Category.all ,:id, :name, {}, {class: "form-control select2"} %>
	  </div>
	
	  <div class="form-group">
		<div class="field">
	    	<%= form.label :total_amount %>
	    	<%= form.text_field :total_amount, id: :item_total_amount, class: "form-control", placeholder: "Test"%>
	  	</div>
	  </div>
	  <div class="form-group">
		<div class="field">
	    <%= form.label :interval_id %>
	    <%= #form.collection_select :interval_id, Interval.all ,:id, :name, {}, {class: "form-control select2", :onchange=>"calculate_amount()", :id => "item_interval_id" }
	    %>
	  	<%= form.collection_select :interval_id, Interval.all ,:id, :name, {}, {class: "form-control select2", :id => "item_interval_id" }%>
	  	</div>
	  </div>
	            <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Subitems</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Planned amount</th>
                    <th>Sum</th>
                  </tr>
                  </thead>
                  <tbody>
                  	<% @rollup = 0 
                  	Item.where(:parent_id => @item.id).each do |child| 
                  	@rollup += child.amount_calculated %>
                  <tr>
                    <td><%= link_to(child.name, child)  %></td>
                    <td><%= child.amount_calculated %></td>
                    <td><%= @rollup %></td>
                  </tr>
					<% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
            </div>
            <!-- /.footer -->
          </div>
          <!-- /.box -->
	  <div class="form-group">
		<div class="field">
	    	<%= form.label :amount_calculated %>
	    	<%= form.text_field :amount_calculated, id: :item_amount_calculated, class: "form-control", placeholder: "Test", readonly: true %>
	  	</div>
	  </div>
	  <div class="form-group">
		<div class="field">
	    	<%= form.label :external_account %>
	    	<%= form.text_field :external_account, id: :item_external_account, class: "form-control", placeholder: "Test"%>
	  	</div>
	  </div>
	  		<div class="form-group">
		  <div class="field">
		    <%= form.label :key_words %>
		    <%= form.text_field :key_words, id: :item_key_words , class: "form-control", placeholder: "Test" %>
		  </div>
	  	</div>
		<div class="form-group">
		  <div class="field">
		    <%= form.label :account_id %>
		    <%= form.collection_select :account_id, Account.all ,:id, :description, {:include_blank => true}, {class: "form-control select2", :id => "item_account_id" }%>
		  </div>
	  	</div>
	  <div class="form-group">
	  	<%= form.label :maturity %>
	  	<div class="input-group date">
	      <div class="input-group-addon">
	        <i class="fa fa-calendar"></i>
	      </div>
	      <%= form.text_field :maturity, id: :item_maturity, class: "form-control pull-right" %>
	    </div>
	    <!-- /.input group -->
	  </div>
		<div class="form-group">
	    	<%= content_tag(:div, :class => "checkbox") do %>
				<%= content_tag(:label) do %>
		    		<%= form.check_box(:budget, id: :item_budget, class: "checkbox") + :budget %>
		    	<% end %>
			<% end %>
		</div>
		<div class="form-group">
	    	<%= content_tag(:div, :class => "checkbox") do %>
				<%= content_tag(:label) do %>
		    		<%= form.check_box(:reserve, id: :item_reserve, class: "checkbox") + :reserve %>
		    	<% end %>
			<% end %>
		</div>	
		<div class="form-group">
		  <div class="field">
		    <%= form.label :savings_id %>
			<%= form.collection_select :savings_id, Saving.all ,:id, :name, {}, {class: "form-control select2"} %>
			</div>
		</div>	
	    <div class="form-group">
	    	<%= content_tag(:div, :class => "checkbox") do %>
				<%= content_tag(:label) do %>
					<%= form.check_box(:active, id: :item_active, class: "checkbox") + :active %>
				<% end %>
			<% end %>
		</div>
		<div class="form-group">
		  <div class="field">
		    <%= form.label :order_id %>
		    <%= form.number_field :order_id, id: :item_order_id , class: "form-control", placeholder: "Test" %>
		  </div>
	  	</div>
		<div class="form-group">
		  <div class="field">
		    <%= form.label :parent_id %>
		    <%= form.collection_select :parent_id, Item.where('id <>?',@item.id) ,:id, :name, {:include_blank => true}, {class: "form-control select2", :id => "item_parent_id" }%>
		  </div>
	  	</div>
    </div>
  	<!-- /.box-body -->
    <div class="box-footer">
    	<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
	</form>
  </div>
  <!-- /.box -->
<% end %>

<script type="text/javascript">
	$('#item_maturity').datepicker({
 			autoclose: true,
	      	format: 'dd-mm-yyyy',
	      	language: 'de'
	});

	$('#item_interval_id').change(function() {
		update_amount_calculated($(this).val());
	});
	
	$('#item_total_amount').change(function() {
		update_amount_calculated($(this).val());
	});
	
	function update_amount_calculated(input){
		var interval_id = $('#item_interval_id').val();
		var item_id = <%= @item.id %>;
		var total_amount = $('#item_total_amount').val();
		if (input != undefined) {
			$.ajax({
				url: "/calculate_amount",
				data: {'item': item_id, 'interval': interval_id, 'amount': total_amount},
				dataType: "json",
				type: "GET",
				success: function(data) {
					$('#item_amount_calculated').val(data["amount_calculated"]).text(data["amount_calculated"]);
				}
			})
		}
	};
</script>

