<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <!-- <p class="flash-error"><%= flash[:alert] %></p> -->
    <p class="flash-notice" id="notice">
      <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      	<h4><i class="icon fa fa-info"></i> Alert!</h4>
        <%= value %>
      </div>
    </p>
  <% end %>
  <% if key == "alert" %>
    <!-- <p class="flash-error"><%= flash[:alert] %></p> -->
    <p class="flash-error" id="notice">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      	<h4><i class="icon fa fa-warning"></i> Alert!</h4>
        <%= value %>
      </div>
    </p>
  <% end %>
  <% if key == "info" %>
    <!-- <p class="flash-error"><%= flash[:alert] %></p> -->
    <p class="flash-notice" id="notice">
      <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      	<h4><i class="icon fa fa-info"></i> Info!</h4>
        <%= value %>
      </div>
    </p>
  <% end %>
  <% if key == "success" %>
	<p class="flash-success" id="notice">
	  <div class="alert alert-success alert-dismissible">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <h4><i class="icon fa fa-check"></i> Success!</h4>
	    <%= value %>
	  </div>
	</p>
  <% end %>
  <% if key == "error" %>
  	<p class="flash-error" id="notice">
    	<div class="alert alert-danger alert-dismissible">
    		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    		<h4><i class="icon fa fa-warning"></i> Alert!</h4>
    		<%= value %>
		</div>
	</p>
  <% end %>
  <% if key == "warning" %>
  	<p class="flash-error" id="notice">
    	<div class="alert alert-warning alert-dismissible">
    		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    		<h4><i class="icon fa fa-warning"></i> Alert!</h4>
    		<%= value %>
		</div>
	</p>
  <% end %>
  <% if key == "danger" %>
  	<p class="flash-danger" id="notice">
		<div class="alert alert-danger alert-dismissible">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    	<h4><i class="icon fa fa-ban"></i> Alert!</h4>
			<%= value %>
	  	</div>
  	</p>
  <% end %>
<% end %>
