<%= form_with(model: @account, local: true) do |form| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% end %>

<table id="example2" class="table table-bordered table-hover">     
	<thead>
    	<tr>
    		<th>#</th>
			<th>Account #</th>
			<th>Description</th>
			<th>IBAN</th>
			<th>BIC</th>
			<th colspan="1"></th>
        </tr>
	</thead>
	<tbody>
	    <tr>
	      <td><%= best_in_place @account, :id, :as => :input, :type => :textarea %></td>
	      <td><%= best_in_place @account, :account_number, :as => :input, :type => :textarea %></td>
	      <td><%= best_in_place @account, :description, :as => :input, :type => :textarea %></td>
		  <td><%= best_in_place @account, :iban, :as => :input, :type => :textarea %></td>
		  <td><%= best_in_place @account, :bic, :as => :input, :type => :textarea %></td>
	      <td><%= #link_to 'Destroy', navigation_path(@navigation), method: :delete, data: { confirm: 'Are you sure?' }  #, :place_holder => "0" 
	      %></td>
	    </tr>
    </tbody>
    <tfoot>
   	</tfoot>
</table>
